.weather-window {
  height: 100%;
  display: flex;
}

.weather-data-and-cam-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 25px;
  height: 85%;
}

@media (max-width: 800px), (max-height: 500px) {
  .weather-window {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .weather-data-and-cam-container {
    margin-top: 25px;
    margin-left: 0px;
    flex-direction: column-reverse;
  }
}
